<h1>Welcome to my blog</h1>
<p>You should be very excited. My graphics site can be found <a href="http://www.orangedrum.com">here</a>.</p>

<div class="hero-unit">
  <h1>Rails is my new BFF!</h1>
  <p>This was build by hand from scratch. See the makings of this blog.</p>
  <p>
    <a class="btn btn-primary btn-large">
      It's laugh time
    </a>
  </p>
</div>

<p>
<%= link_to "Like this page Now!", "#" %>
</p>


