/*CHANGE BODY FONT
$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);
*/

@import 'bootstrap';


$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: fushia;

body{
	padding-top: 60px;
}

.footer{
	position: absolute;
	bottom: 0;
	margin-top: 50px;
}

@import 'bootstrap-responsive';